/*
Design process: I want the design of the website to be a reflection of me as a person
so bubbly, fun, happy, etc. To acheive this look I did the following

1. I picked a bright color palette of the following colors of color hunt:

 ** fyi I just made these names up just for reference lol
#8CA9FF - sea blue
#AAC4F5 - light sea blue
#FFF8DE - light pastel yellow
#FFF2C6 - pastel yellow

2. For the font family, I am going with montersat, sans-seriff

3. In terms of images, An image of me smiling is to be used for profile image. On the hobbies
   section I can put images of dog walks, and the image of Count of Monte Christo I am reading now,
   along with another image of drawings. In the project section I will need an image of old projects.
   So 1 from the dog dating site, another from the online resume project.


*/
.gradient-background {
   background: linear-gradient(300deg,#ffffff,#3c26db,#6db6e1);
   background-size: 180% 180%;
   animation: gradient-animation 18s ease infinite;
 }
 
 @keyframes gradient-animation {
   0% {
     background-position: 0% 50%;
   }
   50% {
     background-position: 100% 50%;
   }
   100% {
     background-position: 0% 50%;
   }
 }